@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
@import '@nuxt/ui';
/* @import './base.css';  */

@theme {
  --font-relaway: 'Raleway', 'Raleway Placeholder ', Inter, sans-serif;

  --color-black_text: #0000;
  --color-main-bg: #ffffff;
  --color-cream: #fff5eb;
  --color-grey: #f2f2f2;
}
@layer base {
  html {
    font-family: var(--font-relaway);
  }

  body {
    font-family: var(--font-relaway);
  }

  * {
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    scrollbar-width: 6px;
    scrollbar-color: transparent;
  }

  ::-webkit-scrollbar {
    height: 6px;
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(128, 128, 128, 0.2);
    border-radius: 3px;
  }

  ::-webkit-scrollbar-thumb:active {
    background: rgba(128, 128, 128, 0.5);
    border-radius: 3px;
  }
}
